<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mclean.dao.IAddressMapper">
    <select id="getAddressByUserId" resultType="com.mclean.bean.AddressBean" databaseId="mysql">
        select * from address where user_id = #{id}
    </select>
</mapper>